.nonDecoration{
    text-decoration: none;
}
/*HEADER*/
body{
    background-color: #e9e9e9;
}
.center{
    text-align: center;
}
.navbar{
    border: none;
    background-color: #e9e9e9;
}
.logo{
    margin-bottom: 15px;
}
.headerWrap{
    background-color: #e9e9e9;
    width: auto;
    height: 675px;
    position: relative;
}
nav{
    margin-bottom: 0px!important;
}
header a{
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(25, 25, 25);
    margin-left: 25px;
    text-decoration: none;
    margin-top: 5px;
}
.nav-item:hover{
    color: #91d8d5;
}
.marginToRight{
    margin-left: 1200px;
    float: right;
}
@media screen and (max-width: 1871px){
    .marginToRight{
        margin-left: 1400px;
    }
}
@media screen and (max-width: 1775px){
    .marginToRight{
        margin-left: 1300px;
    }-
}
@media screen and (max-width: 1700px){
    .marginToRight{
        margin-left: 1200px;
    }
}
/*SECTION1*/
#section1{
    background-color: #f8f9fa;
    vertical-align: middle;
}
.imgTop{
    margin-bottom: 60px;
}
.secondPart h1{
    margin-top: 100px;
    margin-bottom: 25px;
}
.secondPart p{
    color: #787878;
    font-size: 1.4em;
    padding-right: 95px;
    margin-bottom: 25px;
}
.secondPart button{
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    background-color: #10c9c3;
    text-transform: uppercase;
    color: white;
    font-size: 1.1em;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    border: none;
}
.secondPart button:hover{
    background-color: #0faca7;
}
/*SECTION2*/
#aboutUs h1{
    color: #191919;
    margin-top: 80px;
    margin-bottom: 20px;
    vertical-align: middle;
}
#aboutUs p{
    color: #787878;
}
#aboutUs img{
    margin-bottom: 80px;
    margin-top: 20px;
}
/*SKILLS*/
.skills{
    background-color: #f8f9f9;
    padding-bottom: 50px;
    padding-top: 50px;
}
.skills h1{
    color: #191919;
    padding-top: 140px;
    padding-bottom: 25px;
}
.skills p{
    text-transform: uppercase;
    font-size: 1.3em;
}
.skills img{
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.skillImg{
    margin-top: 40px;
    margin-bottom: 40px;
}
@media screen and (max-width: 1600px){
    .skillImg{
        display: none;
    }
}
/*POINTS*/
.points{
    background-color: #10c9c3;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}
.points img{
    width: 25%;
    height: 60%;
    float: left;
    margin-right: 25px;
}
.points p{
    text-transform: uppercase;
    float: left;
}
/*SERVICES*/
.services{
    background-color: #f5f5f5;
    width: auto;
    text-align: center;
    padding-bottom: 90px;
}
.firstRow{
    padding-top: 100px;
}
.firstRow img{
    padding-bottom: 25px;
}
.firstRow h3{
    text-transform: uppercase;
    color: #353535;
    padding-bottom: 10px;
}
.firstRow p{
    color: #787878;
    font-size: 1.1em;
}
/*IMAGES*/
#section2 a{
    width: 25%;
    height: 25%;
}
#section2 img{
  display: block;
}
#section2 img:hover{
    opacity: 0.6;
}
/*IMAGES*/
#section3{
    display: none;
}
#section3 a{
    width: 25%;
    height: 25%;
}
#section3 img:hover{
    opacity: 0.6;
}
#section3{
    text-align: center;
}
/*BUTTON*/
#buttonMore{
    text-transform: uppercase;
    width: auto;
    height: 50px;
    text-align: center;
    background-color: #f5f5f5;
}
.bigButton p{
    padding-top: 15px;
}
.buttonBig{
    text-decoration: none;
    color: #787878;
    font-size: 1.2em;
}
#video{
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
}
#video h1{
    color: #191919;
    margin-top: 80px;
    margin-bottom: 20px;
}
#video p{
    color: #787878;
    margin-bottom: 30px;
}
#video iframe{
    text-align: center;
    margin-bottom: 80px;
}
/*CAROUSEL1*/
#carousel1{
    width: auto;
    height: auto;
    background-color: #10c9c3;
}
#carousel1 h1{
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
}
#carousel1 p{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 1.2em;
}
.toBotLine{
    padding-top: 50px;
}
/*CAROUSEL2*/
#carousel2{
    width: auto;
    height: auto;
    background-color: #ffffff;
}
.mySlides1 img{
    margin-left: 50px;
    margin-right: 50px;
}
.bottomMargin{
    margin-bottom: 25px;
}
.topBotMargins{
    padding-top: 40px;
    padding-bottom: 40px;
}
/*SECTION1[FORMS]*/
.projectForm{
    background-color: #f5f5f5;
}
#my_form{
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 80px;
}
.projectForm h1{
    text-align: center;
    margin-top: 80px;
}
#my_form p{
    margin-bottom: 20px;
}
.projectFormTxt{
    text-align: center;
    color: #787878;
}
.projectForm .inputs{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    width: 48%;
}
.projectForm textarea{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 45%;
}
.titleInput{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 98%;
}
.titleInputs{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 48%;
}
.messageInput{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.commentInput{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 100px;
    width: 100%;
}
.marginRight{
    margin-right: 15px;
}
.noBorders{
    font-size: 1.2em;
    border: none!important;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.send{
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    background-color: #10c9c3;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    border: none;
}
.button-submit{
    margin-right: 100px;
}
.send:hover{
    background-color: #0faca7;
}
/*FOOTER*/
footer{
    background-color: #141414;
    width: 100%;
    height: auto;
}
.marginTop{
    padding-top: 75px;
    padding-bottom: 50px;
}
footer h6{
    color: #ffffff;
    font-size: 1em;
}
footer p{
    color: #bcbcbc;
    margin-top: 10px;
}
footer a{
    color: #bcbcbc;
}
footer a:hover{
    color: #10c9c3;
    text-decoration: none;
}
footer ul{
    margin-top: 10px;
}
footer li{
    text-decoration: none;
    list-style-type: none;
}
/*For carousel*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
/*For comment input*/
.w3-animate-input{transition:width 0.4s ease-in-out}
.w3-animate-input:focus{width:98%!important}
/*For carousel2*/
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-center{text-align:center;}
.w3-content{max-width: 980px;margin:auto}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-center .w3-bar-item{text-align:center}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-large{font-size:20px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}
.w3-left-align{text-align:left!important}
.w3-hover-text-khaki:hover{color:#b4aa50!important}
.w3-right-align{text-align:right!important}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-border1{border:1px solid #ccc!important}
.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-hover-white:hover{color:#000!important;background-color:#fff!important}