.nonDecoration{
    text-decoration: none;
}
/*HEADER*/
body{
    background-color: #e9e9e9;
}
.center{
    text-align: center;
}
.navbar{
    border: none;
    background-color: #e9e9e9;
}
.logo{
    margin-bottom: 15px;
}
.headerWrap{
    background-color: #e9e9e9;
    width: auto;
    height: 675px;
    position: relative;
}
nav{
    margin-bottom: 0px!important;
}
header a{
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(25, 25, 25);
    margin-left: 25px;
    text-decoration: none;
    margin-top: 5px;
}
.nav-item:hover{
    color: #91d8d5;
}
.marginToRight{
    margin-left: 64%;
    float: right;
}
/*SECTION1*/
#section1{
    background-color: #f8f9fa;
    vertical-align: middle;
}
.imgTop{
    margin-bottom: 60px;
}
.secondPart h1{
    margin-top: 100px;
    margin-bottom: 25px;
}
.secondPart p{
    color: #787878;
    font-size: 1.4em;
    padding-right: 95px;
    margin-bottom: 25px;
}
.secondPart button{
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    background-color: #10c9c3;
    text-transform: uppercase;
    color: white;
    font-size: 1.1em;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    border: none;
}
.secondPart button:hover{
    background-color: #0faca7;
}
/*POPUP*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content h2{
    text-align: center;
    color: #191919;
}
.modal-content {
    background-color: #e9e9e9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content form input{
    border: 1px solid #e9e9e9;
}
.modal-content .marginRight{
    margin-right: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*SECTION2*/
#aboutUs h1{
    color: #191919;
    margin-top: 80px;
    margin-bottom: 20px;
    vertical-align: middle;
}
#aboutUs p{
    color: #787878;
}
#aboutUs img{
    margin-bottom: 80px;
    margin-top: 20px;
}
/*SKILLS*/
.skills{
    background-color: #f8f9f9;
    padding-bottom: 50px;
    padding-top: 50px;
}
.skills h1{
    color: #191919;
    padding-top: 140px;
    padding-bottom: 25px;
}
@media screen and (max-width: 1600px){
    .skills img{
        display: none;
    }
    .skills h1{
        text-align: center;
        padding-top: 0px;
    }
}
.skills p{
    text-transform: uppercase;
    font-size: 1.3em;
}
.skills img{
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.skillImg{
    margin-top: 40px;
    margin-bottom: 40px;
}
@media screen and (max-width: 1600px){
    .skillImg{
        display: none;
    }
}
/*POINTS*/
.points{
    background-color: #10c9c3;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}
.points img{
    width: 25%;
    height: 60%;
    float: left;
    margin-right: 25px;
}
.points p{
    text-transform: uppercase;
    float: left;
}
/*SERVICES*/
.services{
    background-color: #f5f5f5;
    width: auto;
    text-align: center;
    padding-bottom: 90px;
}
.firstRow{
    padding-top: 100px;
}
.firstRow img{
    padding-bottom: 25px;
}
.firstRow h3{
    text-transform: uppercase;
    color: #353535;
    padding-bottom: 10px;
}
.firstRow p{
    color: #787878;
    font-size: 1.1em;
}
/*IMAGES*/
.toMarginTop{
    margin-top: 80px;
}
#section2 a{
    width: 24%;
}
#section2 img{
  display: block;
  width: 100%;
}
#section2 img:hover{
    opacity: 0.6;
}
/*IMAGES*/
.toSmall{
    height: 0px;
    width: auto;
    overflow:hidden;
    transition-property: height;
    transition-duration: 2s;
}
.toSmall:hover {
    height: auto;
}
.unvisible{
    display: none;
}
.opened{
    height: 600px;
    overflow: visible;
}
#section3 img{
  display: block;
  width: 100%;
}
#section3 a{
    width: 24%;
}
#section3 img:hover{
    opacity: 0.6;
}
/*BUTTON*/
.buttonBig{
    text-decoration: none;
    border: none;
    background-color: #e9e9e9;
    width: 100%;
    height: auto;
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*VIDEO SECTION*/
#video{
    position: relative;
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
}
#video h1{
    color: #191919;
    margin-top: 80px;
    margin-bottom: 20px;
}
#video p{
    color: #787878;
    margin-bottom: 30px;
}
#video iframe{
    text-align: center;
    margin-bottom: 80px;
}
/*CAROUSEL1*/
#carousel1{
    width: auto;
    height: auto;
    background-color: #10c9c3;
}
#carousel1 h1{
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 20px;
}
#carousel1 p{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ffffff;
    font-size: 1.2em;
}
.toBotLine{
    padding-top: 50px;
}
/*CAROUSEL2*/
#carousel2{
    width: auto;
    height: auto;
    background-color: #ffffff;
}
.mySlides1 img{
    margin-left: 50px;
    margin-right: 50px;
}
.bottomMargin{
    margin-bottom: 25px;
}
.topBotMargins{
    padding-top: 40px;
    padding-bottom: 40px;
}
/*SECTION1[FORMS]*/
.projectForm{
    background-color: #f5f5f5;
}
#my_form{
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 80px;
}
.projectForm h1{
    text-align: center;
    margin-top: 80px;
}
#my_form p{
    margin-bottom: 20px;
}
.projectFormTxt{
    text-align: center;
    color: #787878;
}
.projectForm .inputs{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    width: 48%;
}
.projectForm textarea{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 45%;
}
.titleInput{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 98%;
}
.titleInput2{
    border: none;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 70%;
}
.titleInputs{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 48%;
}
.titleInputs2{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 70%;
}
.messageInput{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.commentInput{
    border: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 100px;
    width: 100%;
}
.marginRight{
    margin-right: 15px;
}
.noBorders{
    font-size: 1.5em;
    border: 1px solid #e9e9e9;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.noBorders2{
    font-size: 1.1em;
    border: none!important;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.send{
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    background-color: #10c9c3;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    border: none;
}
.send2{
    font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
    background-color: #10c9c3;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
    border: none;
}
.button-submit{
    margin-right: 100px;
}
.send:hover{
    background-color: #0faca7;
}
/*FOOTER*/
footer{
    background-color: #141414;
    width: 100%;
    height: auto;
}
.marginTop{
    padding-top: 75px;
    padding-bottom: 50px;
}
footer h6{
    color: #ffffff;
    font-size: 1em;
}
footer p{
    color: #bcbcbc;
    margin-top: 10px;
}
footer a{
    color: #bcbcbc;
}
footer a:hover{
    color: #10c9c3;
    text-decoration: none;
}
footer ul{
    margin-top: 10px;
}
footer li{
    text-decoration: none;
    list-style-type: none;
}
.third-column-footer{
    margin-left: 275px;
}
/*NAV_BAR_MEDIA*/
@media screen and (max-width: 1840px){
    .marginToRight{
        margin-left: 60%;
    }
}
@media screen and (max-width: 1725px){
    .marginToRight{
        margin-left: 55%;
    }
}
@media screen and (max-width: 1500px){
    .marginToRight{
        margin-left: 50%;
    }
}
@media screen and (max-width: 1345px){
    .marginToRight{
        margin-left: 45%;
    }
}
@media screen and (max-width: 1230px){
    .marginToRight{
        margin-left: 40%;
    }
}
@media screen and (max-width: 1120px){
    .marginToRight{
        margin-left: 35%;
    }
}
@media screen and (max-width: 1040px){
    .marginToRight{
        margin-left: 30%;
    }
}
@media screen and (max-width: 991px){
    .marginToRight{
        margin-left: 80%;
    }
}
@media screen and (max-width: 850px){
    .marginToRight{
        margin-left: 70%;
    }
}
@media screen and (max-width: 775px){
    .marginToRight{
        margin-left: 65%;
    }
}
@media screen and (max-width: 767px){
    .marginToRight{
        margin-left: 0%;
    }
}
@media screen and (max-width: 991px){
    .secondPart h1{
        margin-top: 0px;
    }
}
/*POINTS_MEDIA*/
@media screen and (max-width: 991px){
    .points img{
        width: 10%;
        height: 70%;
    }
}
@media screen and (max-width: 767px){
    .points img{
        width: 15%;
        height: 75%;
    }
}
@media screen and (max-width: 525px){
    .points img{
        width: 15%;
        height: 65%;
    }
}
@media screen and (max-width: 400px){
    .points img{
        width: 15%;
        height: 55%;
    }
}
/*PORTFOLIO_MEDIA*/
@media screen and (max-width: 1199px){
    .opened{
        height: 475px;
    }
}
@media screen and (max-width: 991px){
    .opened{
        height: 360px;
    }
}
@media screen and (max-width: 767px){
    .opened{
        height: 270px;
    }
}
@media screen and (max-width: 500px){
    .opened{
        height: 245px;
    }
}
@media screen and (max-width: 450px){
    .opened{
        height: 225px;
    }
}
@media screen and (max-width: 400px){
    .opened{
        height: 195px;
    }
}
@media screen and (max-width: 320px){
    .opened{
        height: 155px;
    }
}
/*CAROUSEL_MEDIA*/
@media screen and (max-width: 1225px){
    .toNonDisplay img{
        width: 8%;
    }
}
@media screen and (max-width: 995px){
    .toNonDisplay img{
        width: 5%;
    }
}
@media screen and (max-width: 775px){
    .toNonDisplay{
        display: none;
    }
}
/*FORM_MEDIA*/
@media screen and (max-width: 665px){  
    #my_form{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 535px){  
    #my_form{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .titleInputs2{
        width: 100%;
    }
    .titleInput2{
        width: 100%;
    }
}
@media screen and (max-width: 425px){  
    #my_form{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .titleInputs2{
        width: 150%;
    }
    .titleInput2{
        width: 150%;
    }
}
@media screen and (max-width: 335px){  
    #my_form{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
    }
    .titleInputs2{
        width: 175%;
    }
    .titleInput2{
        width: 175%;
    }
}
/*FORM_MEDIA*/
@media screen and (max-width: 767px){
    .projectForm .inputs{
        width: 70%;
        margin-bottom: 20px;
    }
    .titleInput{
         width: 70%;
         margin-top: 0px;
    }
    .noBorders2{
        width: 70%;
    }
}
/*PORTFOLIO_MEDIA*/
@media screen and (max-width: 600px){
    #section2{
        margin-left: 15px;
    }
    #section3{
        margin-left: 15px;
    }
}
@media screen and (max-width: 576px){
    #section2{
        margin-left: 15px;
    }
    #section3{
        margin-left: 15px;
    }
}
/*FOOTER_MEDIA*/
@media screen and (max-width: 1205px){
    .third-column-footer{
        margin-left: 200px;
    }
}
@media screen and (max-width: 992px){
    .third-column-footer{
        margin-left: 0px;
    }
}
/*For carousel*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
/*For comment input*/
.w3-animate-input{transition:width 0.4s ease-in-out}
.w3-animate-input:focus{width:98%!important}
.w3-animate-input2{transition:width 0.4s ease-in-out}
.w3-animate-input2:focus{width:91.2%!important}
/*For carousel2*/
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-center{text-align:center;}
.w3-content{max-width: 980px;margin:auto}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-center .w3-bar-item{text-align:center}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before
.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
.w3-large{font-size:20px!important}
.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}
.w3-left-align{text-align:left!important}
.w3-hover-text-khaki:hover{color:#b4aa50!important}
.w3-right-align{text-align:right!important}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-border1{border:1px solid #ccc!important}
.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-hover-white:hover{color:#000!important;background-color:#fff!important}