* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}
.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: #656565;
}
.navbar a img{
    margin-bottom: 10px;
    margin-right: 5px;
}
.search-input{
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
    width: 300px;
}
.input-group{
    margin-right: 700px;
}
.form-control {
  display: block;
  width: 500px!important;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.notification-icon:hover{
    background-image: url(/img/notification-icon-2.png);
}
.notification-icon{
    margin-left: -147px;
}
.user-icon{
    margin-left: -240px;
}
.user{
    margin-top: 10px;
    margin-left: -100px;
    color: #636363;
}
.user h3{
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 1px;
    position: absolute;
}
.go-to-profile{
    position: relative;
    margin-right: 10px;
}
.go-to-profile:hover{
    color: #141414;
}
.man-img{
    position: relative;
}
/*Navigation*/
.navigation-h1{
    text-transform: uppercase;
    font-size: 1.1em;
    color: white;
    margin-bottom: 20px;
}
.white-container{
    height: 500px;
    width: 270px;
    padding-top: 10px;
    margin-right: -20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dashboard{
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.a-dashboard{
    color: black;
    margin-left: 5px;
}
.top{
    padding-top: 10px;
}
.a-for-dashboard{
    text-decoration: none;
}
.dashboard:hover{
    background-color: #f5f5f5;
}
/*NO-PADDING*/
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
/*BIG-BLUE-CONTAINER*/
.big-blue-container{
    position: relative;
    background-color: #4285f4;
    height: 335px;
    padding-top: 15px;
}
.small-lightblue-container{
    background-color: #5e9bff;
    height: 90px;
}
/*DARKBLUE-LINE-CHART*/
.darkblue-line-container{
/*    position: relative;*/
    width: 1325px;
    height: 320px;
    background-color: #4285f4;
    color: white;
/*    padding-left: 15px;*/
}
.darkblue-line-container h1{
    text-transform: uppercase;
    font-size: 1.1em;
}
.darkblue-line-container2{
    width: 275px;
    height: 320px;
    background-color: #4285f4;
    float: right;
}
.darkblue-line-container2 h1{
    font-size: 1.1em;
    letter-spacing: 1px;
}
.darkblue-line-container2 h2{
    font-size: 2em;
}
.darkblue-line-container select{
    float: right;
    background-color: #2e6cd4;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    width: 150px;
    height: 35px;
    padding-left: 10px;
    margin-right: 35px;
    font-size: 1em;
}
.light-blue-container1{
    width: 273px;
    height: 93px;
    background-color: #5593f9;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
}
.light-blue-container2{
    width: 273px;
    height: 93px;
    background-color: #5593f9;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
}
.light-blue-container3{
    width: 273px;
    height: 93px;
    background-color: #5593f9;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
}
/*BLUE-PERCENTS*/
.blue-container{
    width: 1325px;
    height: 90px;
    background-color: #5e9bff;
    color: white;
    padding-left: 15px;
}
/*FIRST*/
.first-percents{
    width: 315px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 20px;
}
.blue-container h1{
    font-size: 1.2em;
    float: left;
    margin-right: 152px;
}
.container-for-center{
    width: 285px;
}
.progress {
overflow: hidden;
height: 10px;

background-color: #f7f7f7;
background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);

-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
.progress .bar {
width: 60%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
/*SECOND*/
.second-percents{
    width: 315px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 15px;
}
.second-percents h1{
    font-size: 1.2em;
    float: left;
    margin-right: 113px;
}
.container-for-center{
    width: 300px;
}
.second-percents .progress .bar {
width: 35%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
/*THIRD*/
.third-percents{
    width: 315px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 15px;
}
.third-percents h1{
    font-size: 1.2em;
    float: left;
    margin-right: 93px;
}
.container-for-center{
    width: 300px;
}
.third-percents .progress .bar {
width: 25%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
/*FOUR*/
.four-percents{
    width: 315px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 15px;
}
.four-percents h1{
    font-size: 1.2em;
    float: left;
    margin-right: 101px;
}
.container-for-center{
    width: 280px;
}
.four-percents .progress .bar {
width: 85%;
height: 18px;
  
  
background-color: #0e90d2;
background-image: -moz-linear-gradient(top, #149bdf, #0480be);
background-image: -ms-linear-gradient(top, #149bdf, #0480be);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
background-image: -o-linear-gradient(top, #149bdf, #0480be);
background-image: linear-gradient(top, #149bdf, #0480be);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  
-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
  
-webkit-transition: width 0.6s ease;
-moz-transition: width 0.6s ease;
-ms-transition: width 0.6s ease;
-o-transition: width 0.6s ease;
transition: width 0.6s ease;
}
/*BLUE-CONTAINER-CIRCLE-PERCENTS*/
/*DARKBLUE-CONTAINER*/
.darkblue-container{
    height: 90px;
    width: 275px;
    background-color: #276de1;
    color: white;
    padding-left: 35px;
    padding-top: 15px;
    margin-left: 1325px;
    position: absolute;
    float: right;
}
.light{
    padding-left: 5px;
    color: #8ab1f1;
}
.darkblue-container h1{
    text-transform: none!important;
    float: none;
}
.darkblue-container img{
/*    margin-left: 15px;*/
}
.circled-percents{
    padding-right: 15px;
    padding-bottom: 50px;
    float: right;
}
/*SERVER-STATUS-SECTION*/
.server-status{
    background-color: white;
    width: 775px;
    height: 590px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.server-status h1{
    color: #2b2e30;
    font-size: 1.5em;
    float: left;
}
.server-status button{
    background-color: #34a853;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 506px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.browsers{
    float: left;
    text-transform: uppercase;
}
.percents1{
    margin-left: 682px;
}
.percents2{
    margin-left: 682px;
}
.percents3{
    margin-left: 682px;
}
.bottom-h1{
    margin-right: 30px;
}
.bottom-h2{
    margin-right: 33px;
}
.bottom-h3{
    margin-right: 50px;
}
/*INFO-SECTION*/
.col-3{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.info{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #5a5a5a;
}
.info1{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info1 h5{
    color: white;
    text-transform: uppercase;
    background-color: #34a853;
    width: 125px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info h1{
    padding-right: 15px;
    float: right;
    color: #5a5a5a;
    margin-top: 20px;
    font-size: 3em;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.green-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #34a853;
    color: white;
}
.diagram{
    margin-left: 175px;
}
/*INFO2*/
.info2{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
    color: #5a5a5a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info2 h5{
    color: white;
    text-transform: uppercase;
    background-color: #4285f4;
    width: 149px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.blue-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #4285f4;
    color: white;
}
.diagram2{
    margin-left: 160px;
}
.blue{
    color: #4285f4;
}
/*INFO3*/
.info3{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
    color: #5a5a5a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info3 h5{
    color: white;
    text-transform: uppercase;
    background-color: #fb9b05;
    width: 131px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.orange-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #fb9b05;
    color: white;
}
.diagram3{
    margin-left: 40px;
}
/*INFO4*/
.info4{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
    color: #5a5a5a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info4 h5{
    color: white;
    text-transform: uppercase;
    background-color: #ea4335;
    width: 150px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.red-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #ea4335;
    color: white;
}
.diagram4{
    margin-left: 6px;
}
/*SKILLS-STAT*/

.skill-stat-container{
    position: relative;
    width: 520px;
    height: 430px;
    background-color: white;
    margin-top: 35px;
    padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill-stat-container button{
    font-size: 1em;
    text-transform: uppercase;
    background-color: white;
    color: #9a9a9a;
    border: none;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    padding: 5px 10px 5px 10px;
    float: right;
}
.skill-stat-container h1{
    margin-left: 2px;
    color: #575c61;
    font-size: 1.1em;
    text-transform: uppercase;
}
.skill-stat-container .user-personal{
    color: #d3d3d3;
    float: left;
    position: relative;
    margin-left: 2px;
    margin-right: 150px;
}
/*FIRST-PERCENTS-CHART*/
.p-for-progress-bar{
    margin-left: 2px;
    color: #4c4c4c;
    position: relative;
}
.right-side-percents{
    float: right;
    margin-top: 40px;
}
/*SECOND-PERCENTS-CHART*/
.p-for-progress-bar2{
    margin-left: 2px;
    margin-top: 45px;
    color: #4c4c4c;
    position: relative;
}
.right-side-percents2{
    float: right;
    margin-top: 30px;
}
/*THIRD-PERCENTS-CHART*/
.p-for-progress-bar3{
    margin-left: 2px;
    margin-top: 45px;
    color: #4c4c4c;
    position: relative;
}
.right-side-percents3{
    float: right;
    margin-top: 30px;
    margin-left: 200px;
}
/*FOUR-PERCENTS-CHART*/
.p-for-progress-bar4{
    margin-left: 2px;
    margin-top: 45px;
    color: #4c4c4c;
    position: relative;
}
.right-side-percents4{
    float: right;
    margin-top: 30px;
    margin-left: 200px;
}
/*FIVE-PERCENTS-CHART*/
.p-for-progress-bar5{
    margin-left: 2px;
    margin-top: 45px;
    color: #4c4c4c;
    position: relative;
}
.right-side-percents5{
    float: right;
    margin-top: 30px;
    margin-left: 200px;
}
/*BARS*/
.col1, .col2 {
  width: 48%;
/*  height: 100%;*/
  padding: 0 10px;
}
.col1 {
  background-color: white;
  float: left;
}
/* PROGRESS BAR - BASE */
.meter { 
	height: 8px;
	position: relative;
	background: #DCE0E3;
    border-radius: 8px;
    margin-left: -8px;
}
/*BLUE-CHART*/
.meter > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #3366ba;
	position: relative;
	overflow: hidden;
}
.meter > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #4285f4), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #4285f4), color-stop(.75, #4285f4), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, #4285f4 25%, transparent 25%, transparent 50%, #4285f4 50%, #4285f4 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, #4285f4 25%, transparent 25%, transparent 50%, #4285f4 50%, #4285f4 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, #4285f4 25%, transparent 25%, transparent 50%, #4285f4 50%, #4285f4 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, #4285f4 25%, transparent 25%, transparent 50%, #4285f4 50%, #4285f4 75%, transparent 75%, transparent);
	z-index: 1;
	-webkit-background-size: 20px 20px;
	-moz-background-size:    20px 20px;
	background-size:         20px 20px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}
/*RED-CHART*/
.meter2 { 
	height: 8px;
	position: relative;
	background: #DCE0E3;
    border-radius: 8px;
    margin-left: -8px;
}
.meter2 > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #ec4839;
	position: relative;
	overflow: hidden;
}
.meter2 > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #c33f32), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #c33f32), color-stop(.75, #c33f32), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, #c33f32 25%, transparent 25%, transparent 50%, #c33f32 50%, #c33f32 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, #c33f32 25%, transparent 25%, transparent 50%, #c33f32 50%, #c33f32 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, #c33f32 25%, transparent 25%, transparent 50%, #c33f32 50%, #c33f32 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, #c33f32 25%, transparent 25%, transparent 50%, #c33f32 50%, #c33f32 75%, transparent 75%, transparent);
	z-index: 1;
	-webkit-background-size: 20px 20px;
	-moz-background-size:    20px 20px;
	background-size:         20px 20px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}
/*GREEN-CHART*/
.meter3 { 
	height: 8px;
	position: relative;
	background: #DCE0E3;
    border-radius: 8px;
    margin-left: -8px;
}
.meter3 > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #2e954a;
	position: relative;
	overflow: hidden;
}
.meter3 > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #3cb55f), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #3cb55f), color-stop(.75, #3cb55f), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, #3cb55f 25%, transparent 25%, transparent 50%, #3cb55f 50%, #3cb55f 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, #3cb55f 25%, transparent 25%, transparent 50%, #3cb55f 50%, #3cb55f 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, #3cb55f 25%, transparent 25%, transparent 50%, #3cb55f 50%, #3cb55f 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, #3cb55f 25%, transparent 25%, transparent 50%, #3cb55f 50%, #3cb55f 75%, transparent 75%, transparent);
	z-index: 1;
	-webkit-background-size: 20px 20px;
	-moz-background-size:    20px 20px;
	background-size:         20px 20px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}
/*ORANGE-CHART*/
.meter4 { 
	height: 8px;
	position: relative;
	background: #DCE0E3;
    border-radius: 8px;
    margin-left: -8px;
}
.meter4 > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #bf7502;
	position: relative;
	overflow: hidden;
}
.meter4 > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #e69009), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #e69009), color-stop(.75, #e69009), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, #e69009 25%, transparent 25%, transparent 50%, #e69009 50%, #e69009 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, #e69009 25%, transparent 25%, transparent 50%, #e69009 50%, #e69009 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, #e69009 25%, transparent 25%, transparent 50%, #e69009 50%, #e69009 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, #e69009 25%, transparent 25%, transparent 50%, #e69009 50%, #e69009 75%, transparent 75%, transparent);
	z-index: 1;
	-webkit-background-size: 20px 20px;
	-moz-background-size:    20px 20px;
	background-size:         20px 20px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}
/*DARK-CHART*/
.meter5 { 
	height: 8px;
	position: relative;
	background: #DCE0E3;
    border-radius: 8px;
    margin-left: -8px;
}
.meter5 > span {
	display: block;
	height: 100%;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	background-color: #4f6069;
	position: relative;
	overflow: hidden;
}
.meter5 > span:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #6d8390), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, #6d8390), color-stop(.75, #6d8390), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, #6d8390 25%, transparent 25%, transparent 50%, #6d8390 50%, #6d8390 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, #6d8390 25%, transparent 25%, transparent 50%, #6d8390 50%, #6d8390 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, #6d8390 25%, transparent 25%, transparent 50%, #6d8390 50%, #6d8390 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, #6d8390 25%, transparent 25%, transparent 50%, #6d8390 50%, #6d8390 75%, transparent 75%, transparent);
	z-index: 1;
	-webkit-background-size: 20px 20px;
	-moz-background-size:    20px 20px;
	background-size:         20px 20px;
	-webkit-animation: move 2s linear infinite;
	   -webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	       -moz-border-radius-topright: 8px;
	    -moz-border-radius-bottomright: 8px;
	           border-top-right-radius: 8px;
	        border-bottom-right-radius: 8px;
	    -webkit-border-top-left-radius: 20px;
	 -webkit-border-bottom-left-radius: 20px;
	        -moz-border-radius-topleft: 20px;
	     -moz-border-radius-bottomleft: 20px;
	            border-top-left-radius: 20px;
	         border-bottom-left-radius: 20px;
	overflow: hidden;
}



/* PROGRESS BAR - ANIMATION */
@-webkit-keyframes move {
  0% {background-position: 0 0;}
  100% {background-position: 30px 30px;}
}
@-moz-keyframes move {
  0% {background-position: 0 0;}
  100% {background-position: 30px 30px;}
}