* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
}
.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: #656565;
}
.navbar a img{
    margin-bottom: 10px;
    margin-right: 5px;
}
.search-input{
    color: #7b7b7b;
    border: 1px solid #7b7b7b;
    width: 300px;
}
.input-group{
    margin-right: 700px;
}
.form-control {
  display: block;
  width: 500px!important;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.notification-icon:hover{
    background-image: url(/img/notification-icon-2.png);
}
.notification-icon{
    margin-left: -147px;
}
.user-icon{
    margin-left: -240px;
}
.user{
    margin-top: 10px;
    margin-left: -100px;
    color: #636363;
}
.user h3{
    text-transform: uppercase;
    font-size: 1em;
    padding-top: 1px;
    position: absolute;
}
.go-to-profile{
    position: relative;
    margin-right: 10px;
}
.go-to-profile:hover{
    color: #141414;
}
.man-img{
    position: relative;
}
/*Navigation*/
.navigation h1{
    text-transform: uppercase;
    font-size: 1.7em;
}
.white-container{
    height: 500px;
    width: 245px;
    padding-top: 10px;
    background-color: #f5f5f5;
}
.dashboard{
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.a-dashboard{
    color: black;
    margin-left: 5px;
}
.top{
    padding-top: 10px;
}
.a-for-dashboard{
    text-decoration: none;
}
.dashboard:hover{
    background-color: #f5f5f5;
}
/*SERVER-STATUS-SECTION*/
.server-status{
    background-color: white;
    width: 775px;
    height: 590px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.server-status h1{
    color: #2b2e30;
    float: left;
}
.server-status button{
    background-color: #34a853;
    border: none;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 5px;
    margin-left: 447px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.browsers{
    float: left;
    text-transform: uppercase;
}
.percents1{
    margin-left: 682px;
}
.percents2{
    margin-left: 682px;
}
.percents3{
    margin-left: 682px;
}
.bottom-h1{
    margin-right: 30px;
}
.bottom-h2{
    margin-right: 33px;
}
.bottom-h3{
    margin-right: 50px;
}
/*INFO-SECTION*/
.col-3{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.info{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #5a5a5a;
}
.info1{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
}
.info1 h5{
    color: white;
    text-transform: uppercase;
    background-color: #34a853;
    width: 125px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info h1{
    padding-right: 15px;
    float: right;
    color: #5a5a5a;
    margin-top: 20px;
    font-size: 3em;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.green-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #34a853;
    color: white;
}
.diagram{
    margin-left: 175px;
}
/*INFO2*/
.info2{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
    color: #5a5a5a;
}
.info2 h5{
    color: white;
    text-transform: uppercase;
    background-color: #4285f4;
    width: 149px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.blue-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #4285f4;
    color: white;
}
.diagram2{
    margin-left: 160px;
}
.blue{
    color: #4285f4;
}
/*INFO3*/
.info3{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
    color: #5a5a5a;
}
.info3 h5{
    color: white;
    text-transform: uppercase;
    background-color: #fb9b05;
    width: 131px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.orange-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #fb9b05;
    color: white;
}
.diagram3{
    margin-left: 40px;
}
/*INFO4*/
.info4{
    position: relative;
    width: 365px;
    height: 140px;
    background-color: white;
    margin-right: 25px;
    color: #5a5a5a;
}
.info4 h5{
    color: white;
    text-transform: uppercase;
    background-color: #ea4335;
    width: 150px;;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info-info{
    margin-left: 15px;
    text-transform: uppercase;
}
.red-background{
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;;
    text-transform: uppercase;
    background-color: #ea4335;
    color: white;
}
.diagram4{
    margin-left: 6px;
}